<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>WS Client</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://code.jquery.com/jquery-3.1.1.min.js" type="text/javascript" ></script>
        <script src="https://cdn.jsdelivr.net/sockjs/1/sockjs.min.js"></script>
    </head>
    <body>
        <input type="text" id="msg" />
        <button onclick="sendMsg()">Send</button>
        <hr/>
        <ul id="msgList">
            
        </ul>
    </body>
    <script>
        var ws = new WebSocket("ws://192.168.1.19:8080/ws");
        ws.onmessage = function(data){
            $('#msgList').append('<li>'+data.data+'</li>');
        }
        
        function sendMsg(){
            ws.send($('#msg').val());
        }
    </script>
</html>