<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
    <title>WS Client</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="webjars/materializecss/0.97.7/css/materialize.min.css">

    <script src="webjars/sockjs-client/1.1.1/sockjs.min.js"></script>
    <script src="webjars/jquery/3.1.1-1/jquery.min.js"></script>
    <script src="webjars/stomp-websocket/2.3.3/stomp.min.js"></script>
    <script src="webjars/materializecss/0.97.7/js/materialize.min.js"></script>
</head>
<body>
<input type="text" id="msg"/>
<button onclick="sendMsg()">Send</button>
<hr/>
<ul style="position: absolute;" id="msgList">

</ul>
<ul style="margin-left: 20%" id="pubList">

</ul>
</body>
<script>
    var sock = new SockJS('/ws');

    var stompClient = Stomp.over(sock);

    stompClient.connect({}, function (frame) {
        stompClient.subscribe("/topic/pub", function (message) {
            console.log('message', message.body);
            $('#pubList').append('<li>' + message.body + '</li>');
            Materialize.toast(message.body, 6000);
        }, function (error) {
            console.log('error : ' + error);
        });
    });

    function sendMsg() {
        stompClient.send("/app/pub", {}, $('#msg').val());
    }
</script>
</html>